<a href="https://colab.research.google.com/github/Nahaeran/ai-for-ml-exercise/blob/main/week6/221006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

# Task1
<hr>

In [74]:
import numpy as np
import pandas as pd

weather = pd.read_csv('data/nyc_weather_2018.csv', parse_dates=['date'])
weather.head()

        date datatype            station attributes  value
0 2018-01-01     PRCP  GHCND:US1CTFR0039       ,,N,   0.00
1 2018-01-01     PRCP  GHCND:US1NJBG0015       ,,N,   0.00
2 2018-01-01     SNOW  GHCND:US1NJBG0015       ,,N,   0.00
3 2018-01-01     PRCP  GHCND:US1NJBG0017       ,,N,   0.00
4 2018-01-01     SNOW  GHCND:US1NJBG0017       ,,N,   0.00

In [75]:
fb = pd.read_csv('data/fb_2018.csv', index_col='date', parse_dates=True)
fb.head()

             open   high    low  close    volume
date
2018-01-02 177.68 181.58 177.55 181.42  18151903
2018-01-03 181.88 184.78 181.33 184.67  16886563
2018-01-04 184.90 186.21 184.10 184.33  13880896
2018-01-05 185.59 186.90 184.93 186.85  13574535
2018-01-08 187.20 188.90 186.33 188.28  17994726

In [76]:
fb.assign(
    abs_z_score_volume=lambda x: \
        x.volume.sub(x.volume.mean()).div(x.volume.std()).abs()
).query('abs_z_score_volume > 3')

             open   high    low  close     volume  abs_z_score_volume
date
2018-03-19 177.01 177.17 170.06 172.56   88140060                3.15
2018-03-20 167.47 170.20 161.95 168.15  129851768                5.32
2018-03-21 164.80 173.40 163.30 169.39  106598834                4.11
2018-03-26 160.82 161.10 149.02 160.06  126116634                5.12
2018-07-26 174.89 180.13 173.75 176.26  169803668                7.39

In [77]:
fb.assign(
    volume_pct_change=fb.volume.pct_change(),
    pct_change_rank=lambda x: \
        x.volume_pct_change.abs().rank(ascending=False)
).nsmallest(5, 'pct_change_rank')

,open,high,low,close,volume,volume_pct_change,pct_change_rank
date,,,,,,,
2018-01-12,178.06,181.48,177.40,179.37,77551299,7.09,1.00
2018-03-19,177.01,177.17,170.06,172.56,88140060,2.61,2.00
2018-07-26,174.89,180.13,173.75,176.26,169803668,1.63,3.00
2018-09-21,166.64,167.25,162.81,162.93,45994800,1.43,4.00
2018-03-26,160.82,161.10,149.02,160.06,126116634,1.35,5.00

In [78]:
fb['2018-01-11':'2018-01-12']

             open   high    low  close    volume
date
2018-01-11 188.40 188.40 187.38 187.77   9588587
2018-01-12 178.06 181.48 177.40 179.37  77551299

In [79]:
(fb > 215).any()

open       True
high       True
low       False
close      True
volume     True
dtype: bool

In [80]:
(fb > 215).all()

open      False
high      False
low       False
close     False
volume     True
dtype: bool

In [81]:
(fb.volume.value_counts() > 1).sum()

0

In [82]:
volume_binned = pd.cut(fb.volume, bins=3, labels=['low', 'med', 'high'])
volume_binned.value_counts()

low     240
med       8
high      3
Name: volume, dtype: int64

In [83]:
fb[volume_binned == 'high'].sort_values('volume', ascending=False)

             open   high    low  close     volume
date
2018-07-26 174.89 180.13 173.75 176.26  169803668
2018-03-20 167.47 170.20 161.95 168.15  129851768
2018-03-26 160.82 161.10 149.02 160.06  126116634

# Task3
<hr>

In [84]:
fb = pd.read_csv('data/fb_2018.csv', index_col='date', parse_dates=True).assign(
    trading_volume=lambda x: pd.cut(x.volume, bins=3, labels=['low', 'med', 'high'])
)
fb.head()

             open   high    low  close    volume trading_volume
date
2018-01-02 177.68 181.58 177.55 181.42  18151903            low
2018-01-03 181.88 184.78 181.33 184.67  16886563            low
2018-01-04 184.90 186.21 184.10 184.33  13880896            low
2018-01-05 185.59 186.90 184.93 186.85  13574535            low
2018-01-08 187.20 188.90 186.33 188.28  17994726            low

In [85]:
weather = pd.read_csv('data/weather_by_station.csv', index_col='date', parse_dates=True)
weather.head()

           datatype            station  value                    station_name
date
2018-01-01     PRCP  GHCND:US1CTFR0039   0.00           STAMFORD 4.2 S, CT US
2018-01-01     PRCP  GHCND:US1NJBG0015   0.00  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0015   0.00  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     PRCP  GHCND:US1NJBG0017   0.00        GLEN ROCK 0.7 SSE, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0017   0.00        GLEN ROCK 0.7 SSE, NJ US

In [86]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

***practice crosstab and pivot***

In [87]:
fb.pivot_table(columns='trading_volume')

trading_volume         low         med         high
close               171.43      175.14       168.16
high                173.46      179.42       170.48
low                 169.31      172.11       161.57
open                171.36      175.82       167.73
volume         24547207.71 79072559.12 141924023.33

In [88]:
fb.pivot_table(index='trading_volume')

                close   high    low   open       volume
trading_volume
low            171.43 173.46 169.31 171.36  24547207.71
med            175.14 179.42 172.11 175.82  79072559.12
high           168.16 170.48 161.57 167.73 141924023.33

In [89]:
weather.reset_index().pivot_table(
    index=['date', 'station', 'station_name'], 
    columns='datatype', 
    values='value',
    aggfunc='median'
).reset_index().tail()

datatype,date,station,station_name,AWND,DAPR,MDPR,PGTM,PRCP,SNOW,SNWD,...,WSF5,WT01,WT02,WT03,WT04,WT05,WT06,WT08,WT09,WT11
28740,2018-12-31,GHCND:USW00054787,"FARMINGDALE REPUBLIC AIRPORT, NY US",5.00,NaN,NaN,2052.00,28.70,NaN,NaN,...,15.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28741,2018-12-31,GHCND:USW00094728,"NY CITY CENTRAL PARK, NY US",NaN,NaN,NaN,NaN,25.90,0.00,0.00,...,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28742,2018-12-31,GHCND:USW00094741,"TETERBORO AIRPORT, NJ US",1.70,NaN,NaN,1954.00,29.20,NaN,NaN,...,8.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28743,2018-12-31,GHCND:USW00094745,"WESTCHESTER CO AIRPORT, NY US",2.70,NaN,NaN,2212.00,24.40,NaN,NaN,...,11.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28744,2018-12-31,GHCND:USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",4.10,NaN,NaN,NaN,31.20,0.00,0.00,...,12.50,1.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
pd.crosstab(
    index=fb.trading_volume,
    columns=fb.index.month,
    colnames=['month'] # name the columns index
)

month           1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0

In [91]:
fb.head()

             open   high    low  close    volume trading_volume
date
2018-01-02 177.68 181.58 177.55 181.42  18151903            low
2018-01-03 181.88 184.78 181.33 184.67  16886563            low
2018-01-04 184.90 186.21 184.10 184.33  13880896            low
2018-01-05 185.59 186.90 184.93 186.85  13574535            low
2018-01-08 187.20 188.90 186.33 188.28  17994726            low

In [92]:
fb.pivot_table(
    index='trading_volume', columns = fb.index.month, values='close', aggfunc='count'
)

date            1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0

# Task2
<hr>

In [93]:
dp = weather.query('datatype == "PRCP"').groupby(level=0).mean()
dp

            value
date
2018-01-01   0.00
2018-01-02   0.00
2018-01-03   0.00
2018-01-04   4.92
2018-01-05  12.30
...           ...
2018-12-27   0.00
2018-12-28  10.46
2018-12-29  18.66
2018-12-30   0.06
2018-12-31   4.13

[365 rows x 1 columns]

the quarter had the most rain from the daily precipitaion data is **2018Q3**.

In [94]:
dp.groupby(pd.Grouper(freq="Q")).sum()

            value
date
2018-03-31 364.89
2018-06-30 334.89
2018-09-30 546.52
2018-12-31 473.97

In [95]:
dp.groupby(pd.Grouper(freq="Q")).value.count()

date
2018-03-31    90
2018-06-30    91
2018-09-30    92
2018-12-31    92
Freq: Q-DEC, Name: value, dtype: int64

In [96]:
dp.assign(
    total_prcp_in_q=lambda x: \
      x.groupby(pd.Grouper(freq='Q')).transform(np.sum),
    total_day_count_in_q=lambda x: \
      x.groupby(pd.Grouper(freq='Q')).value.transform('count'),
    pct_monthly_prcp=lambda x: \
      x.value.div(x.total_prcp_in_q)
)

            value  total_prcp_in_q  total_day_count_in_q  pct_monthly_prcp
date
2018-01-01   0.00           364.89                    90              0.00
2018-01-02   0.00           364.89                    90              0.00
2018-01-03   0.00           364.89                    90              0.00
2018-01-04   4.92           364.89                    90              0.01
2018-01-05  12.30           364.89                    90              0.03
...           ...              ...                   ...               ...
2018-12-27   0.00           473.97                    92              0.00
2018-12-28  10.46           473.97                    92              0.02
2018-12-29  18.66           473.97                    92              0.04
2018-12-30   0.06           473.97                    92              0.00
2018-12-31   4.13           473.97                    92              0.01

[365 rows x 4 columns]